@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1e1e1e;
    color: #fff;
    padding: 20px 0;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header nav {
    margin-top: 20px;
}

header nav input[type="text"] {
    padding: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}

header nav select {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

/* Карти със заблуди */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1 1 calc(33.333% - 40px);
    box-sizing: border-box;
    transition: transform 0.2s;
    height: 100%; /* Ensure cards stretch to the same height */
}


.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.card p {
    margin: 10px 0;
    color: #666;
}

.card .english {
    font-size: 0.75rem; /* Smaller font size */
    color: #555; /* Neutral text color for better readability */
    line-height: 1;
    padding-bottom: 8px;
}


.card .explanation {
    margin: 10px 0;
    padding: 10px;
    background: #f9f9f9;
    border-left: 4px solid #ff9800;
}


.card .example {
    margin: 10px 0;
    padding: 10px;
    background: #f9f9f9;
}

.card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background: #ff9800;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: background 0.3s;
    margin: 0 auto; /* Center the button horizontally */
    margin-top: auto; /* Push the button to the bottom of the card */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: space-between; /* Spread items evenly */
}

.card .btn:hover {
    background: #f38702;
}

/* Footer */
footer {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}

@media (max-width: 768px) {
    .cards-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin: 10px 0;
    }
}
